.navigation{
    color: purple;
    text-align: left;
}
body{
    vertical-align: top;
    background-color: aliceblue;
}

#heading {
    text-align: center;
    color: #00ffdd;
    background-color: rgb(25, 0, 187);
    margin-top: 0;
}