#textBox{
  background: white;
  padding: 10px;
  width: 200px;
  border-radius: 10px;

  border: 4px;
  border-color: black;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  margin-right: 20;
}

#taskList{
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.deleteBtn{
  padding: 5px;
  border-radius: 2px;
  border: 4px;
  color: rgb(255, 255, 255);
  border-color: none;
  background-color: rgb(255, 67, 67);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}


#submitBtn{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  height: 35px;
  margin-left: 20px;
  border: none;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}