#textBox{
  background: white;
  padding: 5px;
  border-radius: 2px;
  border: 4px;
  border-color: black;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  margin-right: 20;
}

#taskList{
    color: brown;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#deleteBtn{
    padding: 5px;
  border-radius: 2px;
  border: 4px;
  border-color: black;
  background-color: rgb(209, 209, 209);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}