.body{
    background-color: rgb(215, 196, 196);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#usercard{
   background-color: aquamarine;
   text-align: left;
   padding: auto;
}